**

!.dockerignore
!pyproject.toml
!uv.lock
!docker/
!docker/Dockerfile
!docker/Dockerfile.playwright
!docker/Dockerfile.postgres
!docker/assets/
!docker/assets/**
!docker/pgbackrest/
!docker/pgbackrest/**
