aiofiles
aiohttp
chardet
cos-python-sdk-v5
fastapi
httpx
gunicorn
nonebot-adapter-onebot
nonebot-adapter-qq
nonebot-plugin-alconna
nonebot-plugin-apscheduler
nonebot-plugin-datastore
nonebot-plugin-kawaii-status
nonebot-plugin-wordcloud
nonebot2
nonebot_plugin_chatrecorder
nonebot_plugin_memes
nonebot_plugin_userinfo
nonebot_plugin_wordle
numpy
openai
pandas
pipx
requests
uvicorn[standard]
websockets
