{% if chart_data %}
<div class="activity-container">
    {% for item in chart_data %}
    <div class="activity-col">
        <span class="activity-col-count">{{ item.count }}</span>
        <div class="activity-bar-vertical" style="--h: {{ " %.2f"|format(item.percentage) }}%;"></div>
        <span class="activity-label-hour">{{ "%02d"|format(item.hour) }}:00</span>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="activity-col" style="flex:1; justify-content: center; height: 100px;">
    <div class="topic-meta">NO_DATA_AVAILABLE_FOR_ACTIVITY_SPECTRUM</div>
</div>
{% endif %}
