{% if topics %}
{% for topic in topics %}
<section class="topic-item">
    <div class="topic-content">
        <h3 class="topic-title">{{ topic.topic.topic }}</h3>
        <div class="topic-meta">SUBJECT ID: #{{ "%02d"|format(loop.index) }} // PARTICIPANTS: {{ topic.contributors }}
        </div>
        <div class="topic-detail">{{ topic.detail | safe }}</div>
    </div>
</section>
{% endfor %}
{% endif %}
