name: Docker Bot7685

on:
  push:
    branches:
      - master
    paths:
      - "uv.lock"
      - "src/dev/**"
      - "docker/Dockerfile"
      - "docker/Dockerfile.cli"
      - "docker/assets/**"
      - ".github/workflows/docker-bot7685.yml"
      - "external/**"
  workflow_dispatch:

jobs:
  docker:
    name: Docker Hub Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Init Submodules
        run: git submodule update --init --recursive

      - name: Setup uv
        uses: astral-sh/setup-uv@v5
        with:
          python-version: "3.13"
          enable-cache: true

      - name: Check Lockfile & Playwright Version
        run: |
            uv lock --check
            uv export --no-hashes | grep playwright== > pw

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Setup Docker
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Generate Tags
        uses: docker/metadata-action@v5
        id: metadata
        with:
          images: wyf7685/bot7685
          tags: type=raw,value=latest

      - name: Build and Publish
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./docker/Dockerfile
          push: true
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.metadata.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
