name: Lint

on:
  push:
    paths:
      - "src/**"
      - "bot.py"
      - ".github/workflows/lint.yml"
      - "pyproject.toml"
      - "uv.lock"

jobs:
  ruff:
    name: Ruff Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Run Ruff Lint
        uses: astral-sh/ruff-action@v3
        with:
          src: >-
            src/
            bot.py

  basedpyright:
    name: BasedPyright Lint
    runs-on: ubuntu-latest
    needs: ruff
    concurrency:
      group: basedpyright-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - uses: actions/checkout@v4

      - run: git submodule update --init --recursive

      - name: Setup Python
        uses: ./.github/actions/setup-python
        with:
          python-version: "3.13"

      - name: Run BasedPyright
        run: uvx basedpyright .
